@import '../../utils/variables';
@import '../../utils/mixins';

button.button {
	width: 100%;
	height: auto;
	padding: $spacing-1;
	border-radius: $border-radius-small;
	white-space: nowrap;
	@include transition(all);
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	@include border($blue);
	@include p($bold, $white);
	background-color: $blue;

	&:hover, &:focus {
		@include border(darken($blue, 5%));
		background-color: darken($blue, 5%);
	}

	&:disabled {
		@include border($cream);
		background-color: $cream;

		&:hover, &:focus {
			@include border($cream);
			background-color: $cream;
		}
	}
}
