/* Colour variables */
$white: #FFFFFF;
$cream: #F4F4F4;
$gray: #ECECEC;
$black: #222222;
$blue: #2656E7;
$green: #15CD72;
$red: #F03D3D;

/* Font weight variables */
$normal: 400;
$bold: 500;

/* Spacing variables */
$spacing-1: 10px;
$spacing-2: 20px;
$spacing-3: 30px;
$spacing-4: 40px;
$spacing-5: 50px;
$spacing-6: 60px;

/* Border variables */
$border: 2px solid $gray;
$border-radius-small: 5px;
$border-radius-large: 10px;

/* Shadow variables */
$box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2); 
